<html>
<head>
    <title>Elaina - Docker-based remote code runner.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/sandbox.css"/>
</head>
<body>
<div id="app">
    <div class="header row">
        <div class="col col-auto align-self-center">
            <div class="title">Elaina - Docker-based remote code runner.</div>
        </div>
    </div>

    <div class="result" style="height: calc(100% - 85px); text-align: center">
        <img src="/static/assets/elaina.gif" width="40%"/>
        <div style="margin-top: 50px; font-size: 25px"><b>『そう、私です』</b></div>
        <p style="font-size: 18px"><a href="/m">Manager Panel</a></p>
        <p style="font-size: 18px"><a href="https://github.com/wuhan005/Elaina" target="_blank">GitHub</a></p>
    </div>

    <div class="footer">Powered by <a href="https://github.com/wuhan005/Elaina" target="_blank">Elaina</a>.</div>
</div>
</body>

</html>