<html>
<head>
    <title>Elaina</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/sandbox.css"/>
</head>
<body>
<div id="app">
    <div class="header row">
        <div class="col col-auto align-self-center">
            <div class="title">Instance not found.</div>
        </div>
    </div>

    <div class="result" style="height: calc(100% - 85px)">
        <div style="text-align: center">
        </div>
    </div>

    <div class="footer">Powered by Elaina.</div>
</div>
</body>

</html>