name: Publish
on:
  push:
    branches: [ master ]

env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  build:
    name: Build Docker image
    strategy:
      matrix:
        go-version: [ 1.16.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build frontend
        run: cd frontend && yarn install && yarn build

      - name: Get dependencies
        run: go mod tidy

      - name: Build binary
        run: CGO_ENABLED=0 go build -v -trimpath

      - name: Build & Publish to Docker Registry
        uses: wuhan005/publish-docker-action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: registry.hub.docker.com
          repository: registry.hub.docker.com/wuhan005/elaina
          tag_format: "%YYYY%_%MM%_%DD%_%H%%m%%s%"
          auto_tag: true

      - name: Build & Publish to Aliyun Registry
        uses: wuhan005/publish-docker-action@master
        with:
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}
          registry: registry.cn-hongkong.aliyuncs.com
          repository: registry.cn-hongkong.aliyuncs.com/eggplant/elaina
          tag_format: "%YYYY%_%MM%_%DD%_%H%%m%%s%"
          auto_tag: true
